# Редирект с http на https создан автоматически при заказе бесплатного ssl-сертификата
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
# Конец редиректа

RewriteRule ^admin/user/([0-9]+)/? index.php?page=admin&user=$1 [L]
RewriteRule ^lc/([0-9]+)/? index.php?l=$1 [L]
RewriteRule ^admin/([-a-zA-Z0-9_]+)/? index.php?page=admin&action=$1 [L]
RewriteRule ^admin? index.php?page=admin [L]
RewriteRule ^personal/? index.php?page=personal [L]
