html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
*:focus {
    outline: none;
}
.content {
    width: 1080px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.head {
    color: #fff;
}
.head:hover {
    color: #b1ffc5;
}

.background {
    position: fixed;
    width: 50vw;
    height: 100%;
    background-color: #41559C;
    background-position-x: 50%;
}

.auth .form {
    position: relative;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 510px;
    height: 592px;
    border-radius: 30px;
    border: 1px solid #41559C;
}

.form {
    font-family: 'Roboto';
    background-color: #fff;
}

.form h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 91px;
    font-size: 24px;
    color: #7B7B7B;
}

.inputs {
    width: 440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.inputs {

}

tr {
    border-bottom: 1px solid gray;
}

.add_user_form {
    margin: 0 auto;
}

.login, .password {
    height: 34px;
    border: none;
    border-bottom: 1px solid #7B7B7B;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #7B7B7B;
}

.login:focus, .password:focus {
    outline: none;
    background-color: #f2ffe5;
}

.login::placeholder, .password::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #7B7B7B;
}

.rosatom {
    background-color: #41559C;
    position: absolute;
    left: 30px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}
.hiden .rosatom {
    display: none;
}
.rosatom1 {
    font-weight: bold;
}

.input-group {
    position: relative;
}
.login {
    margin-bottom: 63px;
}
.login-img {
    right: 40px;
    position: absolute;
}
.password-img {
    right: 40px;
    top: 41%;
    position: absolute;
}
.password {
    margin-bottom: 54px;
}

.submit {
    margin: 0 auto;
    border: none;
    background: #41559C;
    border-radius: 30px;
    width: 154px;
    height: 46px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.submit:hover {
    cursor: pointer;
   font-size: 26px;
}

.left-panel {
    overflow: hidden;
    height: 1000vh;
    width: 338px;
    background: #41559C;
    left: 0;
    top: 0;
}

.right {
    margin: 20px;
}

.tags {
    margin-top: 20px;
}
.position {
    font-size: 22px;
}
.tags li {
    font-size: 20px;
}

h5 {
    font-size: 20px;
    padding-top: 18px;
    border-top: 1px solid gray;
}

.button-show {
    left: 305px;
    top: 10%;
    transform: translate(0, -50%);
    position: fixed;
    color: #fff;
    font-size: 50px;
    z-index: 11;
}
.hiden .button-show {
    color: #000;
    left: 11px;
    background-color: #fff;
    padding: 10px;
}
.hiden .button-show:visited {
    color: #000;
    background-color: #fff;
}
.button-show:visited {
    color: #fff;
}
.button-show:hover {
    font-weight: 600;
    font-size: 52px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.admin_id {
    margin-top: 97px;
    margin-left: 21px;
    margin-right: 21px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;


    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    padding-bottom: 20px;
    border-bottom: 1px solid #7D94E3;
}

.admin_id_sng {
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.admin_id span {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    /* identical to box height */


    color: #FFFFFF;

}
.menu-items .admin_id_sng {
    top: -2px;
}
.menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-left: 21px;
    margin-right: 21px;
}
.menu-item {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;


    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.menu-item svg {
    position: relative;
    top: 2px;
    margin-right: 8px;
}
.menu-item a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    text-decoration: none;
}

.menu-item__active a{
    font-weight: bold;
    text-decoration: underline;
}
.menu-item a:hover {
    font-weight: bold;
    text-decoration: underline;
}













